In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('country-income.csv')

In [7]:
print(df.head())

   Region  Age  Income Online_Shopper
0   India   49   86400             No
1  Brazil   32   57600            Yes
2     USA   35   64800             No
3  Brazil   43   73200             No
4     USA   45   79400            Yes

Al ejecutar tu análisis exploratorio, describe el número de columnas y filas en  las cuáles encuentras valores nulos o perdidos y cuántos. para esto usaremos la funcion df.isnull().sum() que nos arrojara lo solicitado.

In [8]:
df.isnull().sum()

Region            0
Age               0
Income            0
Online_Shopper    0
dtype: int64

Sustituye esos valores perdidos por la media de la  columna. por los resultados arrojados por la funcion se puede observar que no existen valores nulos en la tabla por lo tanto no hay nada que sustituir.

Calcula la media, máximo, mínimo y desviación estándar de las columnas con valores numéricos. las columnas con valores numericos son Age y Income. comenzare con la columna Age

la funcion .mean() nos permiten obtener la media de un conjunto de datos

In [10]:
df['Age'].mean()

44.0

la funcion .max() nos permiten obtener el valor maximo de un conjunto de datos

In [11]:
df['Age'].max()

55

la funcion .min() nos permiten obtener el valor minimo de un conjunto de datos

In [12]:
df['Age'].min()

32

la funcion .std() nos permiten obtener la deviacion estandar de un conjunto de datos

In [13]:
df['Age'].std()

7.287737036358482

ahora la columna Income

In [14]:
df['Income'].mean()

76820.0

In [15]:
df['Income'].max()

99600

In [16]:
df['Income'].min()

57600

In [17]:
df['Income'].std()

13906.497282445593

Convierte todos los valores categóricos y binarios en numéricos sin alterar la estructura del dataset.

la columna online_shopper esta categorizada en No y Yes los combertiremos en numericos donde Yes = 1 y No = 0

In [25]:
df.replace({'No': 0, 'Yes': 1})

   Region  Age  Income  Online_Shopper
0   India   49   86400               0
1  Brazil   32   57600               1
2     USA   35   64800               0
3  Brazil   43   73200               0
4     USA   45   79400               1
5   India   40   69600               1
6  Brazil   46   62400               0
7   India   53   94800               1
8     USA   55   99600               0
9   India   42   80400               1