primero importamos las librerias requeridas sobre todo la que usaremos en este caso especial 'BeautifulSoup'

In [227]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

extramos el contenido de la pagina

In [193]:
page = requests.get('https://www.zonaturistica.com/restaurantes/sinaloa/mazatlan')

colocamos el contenido en una variable y lo convertimos en string indicandole a la funcion que se trata de un html

In [194]:
soup = BeautifulSoup(page.content, 'html.parser')

colocamos en un variable la informacion que queremos obtener de la pagina en este caso es la etiqueta a con nombre de clase 'txt-title lh-100 aqua nombre'

In [195]:
res = soup.find_all('a', class_='txt-title lh-100 aqua nombre')

In [ ]:
print(res)

In [313]:
restaurantes = list()

colocamos los textos de las etiquetas en una lista

In [314]:
x = 0
for i in res:
  if x > -1:
   restaurantes.append(i.text.strip())
  x += 1

In [315]:
print(restaurantes)

['Angelinas Kitchen', 'La Costa Marinera', 'Pedro y Lola', 'Los Arcos', 'La Mona Pizzeria', 'Panchos', 'Casa 46', 'El Muchacho Alegre', 'Topolo', 'El Guamuchilito', 'El Presidio', 'Mr. Lionso Playa Bruja', 'El Mesón de los Laureanos', 'El Cuchupetas']

mismo procedimiento extramos la informacion de la etiqueta que queremos

In [199]:
prom = soup.find_all('span', class_='lh-100')

In [ ]:
print(prom)

In [308]:
consumoPromedio = list()

lo agregamos en otra lista

In [309]:
x = 0
for i in prom:
  if x < 14:
    consumoPromedio.append(pd.to_numeric(i.text.strip()))
  x += 1

In [310]:
print(consumoPromedio)

[350, 430, 375, 400, 420, 325, 600, 300, 350, 340, 300, 375, 260, 325]

mismo procedimiento extramos la informacion de la etiqueta que queremos pero en este caso las etiquetas cuentas con 2 nombres de clase diferente

In [203]:
tags = soup.find_all('a', {'class': ['rating stars-45', 'rating stars-40']})

In [ ]:
print(tags)

In [238]:
opiniones = list()

en caso no queremos el texto de la etiqueta 'a' si no el titulo(title) y lo colocamos en una lista

1.   Elemento de la lista
2.   Elemento de la lista

In [239]:
x=0
for tag in tags:
  if x < 14:
    opiniones.append(tag.get('title'))
    x += 1

In [240]:
print(opiniones, len(opiniones))

['584 opiniones', '456 opiniones', '393 opiniones', '343 opiniones', '73 opiniones', '1981 opiniones', '420 opiniones', '468 opiniones', '1107 opiniones', '87 opiniones', '990 opiniones', '1442 opiniones', '225 opiniones', '208 opiniones'] 14

separamos el texto de los numeros con la funcion split

In [241]:
opi = list()
for x in opiniones:
  opi.append(x.split(' '))

la funcion split nos crea vectores con los numeros y el texto

In [242]:
print(opi)

[['584', 'opiniones'], ['456', 'opiniones'], ['393', 'opiniones'], ['343', 'opiniones'], ['73', 'opiniones'], ['1981', 'opiniones'], ['420', 'opiniones'], ['468', 'opiniones'], ['1107', 'opiniones'], ['87', 'opiniones'], ['990', 'opiniones'], ['1442', 'opiniones'], ['225', 'opiniones'], ['208', 'opiniones']]

quitamos el texto de los vectores con la funcion delete de la libreria numpy

In [304]:
opi2 = list()
opiniones = list()
for x in opi:
  opi2 = np.delete(x, 1)
  opiniones.append(pd.to_numeric(opi2[0]))

In [305]:
print(opiniones)

[584, 456, 393, 343, 73, 1981, 420, 468, 1107, 87, 990, 1442, 225, 208]

In [207]:
calificacion = list()

ahora si queremos el texto de la etiqueta 'a' procedemos a colocarlo en una lista

In [208]:
x=0
for tag in tags:
  if x < 14:
    calificacion.append(tag.text.strip())
    x += 1

In [209]:

print(calificacion, len(calificacion))
cali = list()

['4.5\nver opiniones', '4\nver opiniones', '4\nver opiniones', '4.5\nver opiniones', '4.5\nver opiniones', '4.5\nver opiniones', '4.5\nver opiniones', '4\nver opiniones', '4.5\nver opiniones', '4\nver opiniones', '4.5\nver opiniones', '4\nver opiniones', '4.5\nver opiniones', '4.5\nver opiniones'] 14

en este caso lo que obtuvismo trae texto sobrante asi que pasamos a quitarlo para ello creamos otra lista para colocarle solo la parte del texto que necesitamos usando la funcion split().

In [210]:
for x in calificacion:
  cali.append(x.split('\n'))

In [211]:
print(cali)

[['4.5', 'ver opiniones'], ['4', 'ver opiniones'], ['4', 'ver opiniones'], ['4.5', 'ver opiniones'], ['4.5', 'ver opiniones'], ['4.5', 'ver opiniones'], ['4.5', 'ver opiniones'], ['4', 'ver opiniones'], ['4.5', 'ver opiniones'], ['4', 'ver opiniones'], ['4.5', 'ver opiniones'], ['4', 'ver opiniones'], ['4.5', 'ver opiniones'], ['4.5', 'ver opiniones']]

In [316]:
cali2 = list()
calificaciones = list()

como se puede observar la funcion split no creo varios arreglos la parte deseada y la no deseada, eliminamos la parte no deseada con la libreria numby y la funcion delete

In [317]:
for x in cali:
  cali2 = np.delete(x, 1)
  calificaciones.append(pd.to_numeric(cali2[0]))

In [318]:
print(calificaciones)

[4.5, 4, 4, 4.5, 4.5, 4.5, 4.5, 4, 4.5, 4, 4.5, 4, 4.5, 4.5]

procedemos a crear nuestro dataframe

In [494]:
df = pd.DataFrame({'restaurante': restaurantes, 'consumo promedio' : consumoPromedio, '# opiniones': opiniones, 'calificacion': calificaciones}, index = list(range(1, 15)))

In [550]:
print(df)

                  restaurante  consumo promedio  # opiniones  calificacion
1           Angelinas Kitchen               350          584           4.5
2           La Costa Marinera               430          456           4.0
3                Pedro y Lola               375          393           4.0
4                   Los Arcos               400          343           4.5
5            La Mona Pizzeria               420           73           4.5
6                     Panchos               325         1981           4.5
7                     Casa 46               600          420           4.5
8          El Muchacho Alegre               300          468           4.0
9                      Topolo               350         1107           4.5
10            El Guamuchilito               340           87           4.0
11                El Presidio               300          990           4.5
12     Mr. Lionso Playa Bruja               375         1442           4.0
13  El Mesón de los Laureanos               260          225           4.5
14              El Cuchupetas               325          208           4.5

Al ejecutar tu análisis exploratorio, describe el número de columnas y    filas que encuentras

In [496]:
print('El numero de filas es: ', df.shape[0])
print('El numero de columnas es: ', df.shape[1])

El numero de filas es:  14
El numero de columnas es:  4

Calcula la media, máximo, mínimo y desviación estándar de las columnas   con valores numéricos.

In [497]:
df.describe()

       consumo promedio  # opiniones  calificacion
count         14.000000    14.000000     14.000000
mean         367.857143   626.928571      4.321429
std           82.058007   556.778020      0.248623
min          260.000000    73.000000      4.000000
25%          325.000000   254.500000      4.000000
50%          350.000000   438.000000      4.500000
75%          393.750000   888.500000      4.500000
max          600.000000  1981.000000      4.500000

 Limpia los datos de  acuerdo a su utilidad

In [403]:
df.isnull().sum()

restaurante         0
consumo promedio    0
# opiniones         0
calificacion        0
dtype: int64

como se puede ver con la funcion hay 0 valores nulos por l otanto no sera necesario hacer limpieza

Desarrolla un modelo de   Machine Learning que:
Explique tu decisión sobre la inversión en ese  sector económico.
Pueda ser replicado si en el futuro consideramos  de nuevo invertir.
Guárdalo utilizando Pickle

In [535]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
x=0
y=0

In [536]:
x = df.drop(['restaurante'], axis=1)
y = df.restaurante

In [537]:
print(y)

1             Angelinas Kitchen
2             La Costa Marinera
3                  Pedro y Lola
4                     Los Arcos
5              La Mona Pizzeria
6                       Panchos
7                       Casa 46
8            El Muchacho Alegre
9                        Topolo
10              El Guamuchilito
11                  El Presidio
12       Mr. Lionso Playa Bruja
13    El Mesón de los Laureanos
14                El Cuchupetas
Name: restaurante, dtype: object

In [538]:
print(x)

    consumo promedio  # opiniones  calificacion
1                350          584           4.5
2                430          456           4.0
3                375          393           4.0
4                400          343           4.5
5                420           73           4.5
6                325         1981           4.5
7                600          420           4.5
8                300          468           4.0
9                350         1107           4.5
10               340           87           4.0
11               300          990           4.5
12               375         1442           4.0
13               260          225           4.5
14               325          208           4.5

In [552]:
X_train, X_test, y_train, y_test = train_test_split(x,y,stratify=y)

tree = DecisionTreeClassifier(random_state=42)

tree.fit(X_train, y_train)

ValueError: ignored